@use '../abstracts/variables' as *;

.related{
  margin-top: 15px;
  &__title{
    margin-bottom: 30px;
  } 
  @media screen and (max-width: map-get($breakpoints, small)) {
    margin-top: 11px;
    &__title{
      margin-bottom: 24px;
    } 
  }
}